<link rel="stylesheet" href="/css/user_sign_in.css">
<h1 class="heading-primary">Sign in<span class="custom-dot">.</span></h1>
<form class="signup-form" action="/users/create-session" method="POST">

    <label class="inp">
        <input name="email" type="email" class="input-text" placeholder="&nbsp;" required>
        <span class="label">Email</span>
        <span class="input-icon"><i class="fa-solid fa-envelope"></i></span>
    </label>
    <label class="inp">
        <input name="password" type="password" class="input-text" placeholder="&nbsp;" id="password" required>
        <span class="label">Password</span>
        <span class="input-icon input-icon-password" data-password><i class="fa-solid fa-eye"></i></span>
    </label>
    <button class="btn btn-signup">Sign In</button>
    <script src="user_sign_up.js"></script>
</form>